<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.think.uihealth" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >



        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1104838663" />
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.connect.common.AssistActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden|screenSize"
            />

        <activity android:name=".view.activity.MoreBeforeDataActivity"
                  android:label="@string/app_name"/>
        <activity android:name=".view.activity.BeforeDataActivity"
                  android:label="@string/app_name"/>
        <activity android:name=".view.activity.RegisterActivity"
                  android:label="@string/app_name"/>

        <activity
            android:name=".view.activity.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/MyNavigationDrawerTheme"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.activity.ResultActivity"
                  android:label="@string/app_name" >

        </activity>
        <activity android:name=".view.activity.MainActivity"
                  android:label="@string/app_name" >

        </activity>
        <activity android:name=".view.activity.ChangeInfoActivity"/>

        <activity
            android:name=".view.activity.ForumContentActivity"
            android:theme="@style/ForumcontentActivityStyle"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name=".view.activity.ForumOftenActivity"
            android:theme="@style/ForumcontentActivityStyle"
            android:screenOrientation="portrait"
            >

        </activity>
    </application>

</manifest>
